<nav>
    <a href="/"><img src="/imagenes/logo.svg" alt="logo Tienda Mueble"></a>
    <a class="boton-nav">Menu</a>
    <ul class="menu">
        <li class="item-menu"><a class="item-link" href="/productos">Productos</a></li>
        <li class="item-menu"><a class="item-link" href="/nuevoProducto">Agregar Producto</a></li>
    </ul>
</nav>